<div class="container main-container">
    <div class="row text-center">
        <div *ngFor="let country of countries" class="col-md-4" style="padding-bottom: 30px;">
            <div class="card h-100">
                <div *ngIf = "country.flag">
                    <img class="card-img-top" src="{{country.flag.svgFile}}" height="164px" width="253px" alt="">
                </div>

                <div *ngIf = "!country.flag">
                    <img class="card-img-top" height="164px" width="253px" alt="">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{country.name}}</h4>
                    <p class="card-text">
                        Capital: {{country.capital}}
                        <br>Area: {{country.area}}
                        <br>Population: {{country.population}}
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fim Content -->